# ==========================
# Dependencies
# ==========================
node_modules/
.pnp
.pnp.js

# ==========================
# Environment Files
# ==========================
.env
.env.*
**/.env
**/.env.*

# ==========================
# Build Files
# ==========================
build/
dist/

# ==========================
# Coverage
# ==========================
coverage/

# ==========================
# Logs
# ==========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Cache
# ==========================
.cache/
.eslintcache

# ==========================
# Misc
# ==========================
*.local